@model IEnumerable<ToDo.Models.ToDo>

@*This section sets up the progress bar using bootsrtap*@
@if (ViewBag.tasks_left > 1)
{
    <p>@ViewBag.tasks_left more tasks left</p>
}
else if (ViewBag.tasks_left == 1)
{
    <p>@ViewBag.tasks_left more task left</p>
}
else
{
    <p>All Done!</p>
}

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:@(Html.AttributeEncode(ViewBag.percent_complete))%"></div>
</div>

@*This section sets up the main to do list*@
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="ToDoRow" data-taskid="@(item.ID)" data-isDone="@(item.is_done)"
                data-isImportant="@(item.is_important)">
                <td>
                    @if (!item.is_done)
                    {
                        <div class="incomplete">
                            @Html.DisplayFor(modelItem => item.content)
                        </div>
                    }
                    else
                    {
                        <div class="complete">
                            @Html.DisplayFor(modelItem => item.content)
                        </div>
                    }
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.is_done, new { @class = "Is_Done", id = item.ID, title = "Done" })
                </td>
                <td>
                    <img class="rowImage importantIcon" title="Highlight Task" data-important="@(item.is_important)" data-importantID="@(item.ID)" src="~/Content/images/badge.png" />
                </td>
                <td>
                    <img class="rowImage trash" title="Delete" data-taskid="@(item.ID)" src="~/Content/images/trash.png" />
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/ToDoList.js"></script>