@model ToDo.Models.ToDo

@*<center><img src='http://www.hamiltondraws.com/portfolio/design/stork.png' id="logo" class="rounded-circle"></center>*@

<p id="hideMe">Loading...</p>

<div id="ToDoTable"></div>

@using (Ajax.BeginForm("Create", "ToDoes",
                                                  new AjaxOptions
                                                  {
                                                      InsertionMode = InsertionMode.Replace,
                                                      HttpMethod = "Post",
                                                      UpdateTargetId = "ToDoTable",
                                                  }
))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="ToDoForm" class="ToDoRow">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.content, new { htmlAttributes = new { @class = "form-control", @id = "editor" } })
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}


@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(
            function ()
            {
                $.ajax
                    (
                    {
                        url: 'ToDoes/ToDoList',
                        error: function () {
                            $('#ToDoTable').empty();
                            $("#hideMe").html("Could Not Load...");
                            alert("Cannot get data from server!");
                        }
                    }
                    ).done(function (data) {
                        $("#hideMe").empty();                        
                        $('#ToDoTable').html(data);
                    }
                );
            }
        );

    </script>
    @Scripts.Render("~/bundles/jqueryval");
}
